@media screen and (min-width: 1200px) {
  .work-about {
    padding-bottom: 0;
  }
}

.benefits {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    max-width: 450px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    /* width: 270px; */
    height: 120px;

    background: #f5f4fa;
    border-radius: 4px;
  }
}
