.page-header {
  border: 1px solid rgba(236, 236, 236, 1);
}

.logo-header {
  color: var(--secondary-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
}

.contacts-nav {
  display: flex;
  margin-left: auto;
  color: var(--secondary-color);

  & .item + .item {
    margin-left: 50px;
  }

  & .cont-info {
    color: var(--secondary-text-color);
  }

  & .cont-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.site-nav {
  display: flex;
  margin-left: 93px;

  & .item {
    margin-right: 50px;
    position: relative;
  }

  & .item:last-child {
    margin-right: 0;
  }

  & .link {
    color: var(--primary-text-color);
  }

  & .active {
    color: var(--secondary-color);
  }
}

.site-nav .link,
.contacts-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--secondary-color);
}

.site-nav .link.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color);
}

.header-icon {
  fill: currentColor;
}
