.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity 800ms 500ms ease;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--secondary-color);
  }
}

.order-form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.field-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.field-wrap {
  position: relative;
  margin-bottom: 10px;
}

.order-field,
.order-comment {
  padding-left: 42px;
  padding-right: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-field:focus,
.order-comment:focus {
  border: 1px solid var(--secondary-color);
}

.order-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-field:focus + .order-field-icon {
  fill: var(--secondary-color);
}

.order-comment {
  display: block;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.order-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.check-box {
  margin-right: 7px;
}

.order-checkbox-text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  user-select: none;
}

.order-checkbox-link {
  color: var(--secondary-color);
}

.order-form-checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  background-image: url(../images/icon_uncheck.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:checked {
    background-image: url(../images/icon_check.svg);
  }
}

.order-form > .form-btn {
  min-width: 200px;
  display: block;
  margin: 0 auto;
}
