.specs {
  background-color: var(--secondary-background-color);
}

.team {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  text-align: center;

  &__card {
    background-color: var(--text-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-icon {
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--secondary-color);
    color: #ffffff;
  }
}
