.button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 216px;
  min-height: 50px;

  font-family: inherit;
  font-size: 16px;
  color: var(--text-color-white);
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: #188ce8;
  }
}
