.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .filters-item + .filters-item {
  margin-left: 8px;
}

.btn {
  padding: 6px 25px;

  font-family: inherit;
  background: var(--secondary-background-color);
  border-radius: 4px;
  border: transparent;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--text-color-white);
    background: var(--secondary-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
