:root {
  --primary-text-color: #212121;
  --secondary-color: #2196f3;
  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --secondary-text-color: #757575;
}
